#title
  %h1 Christmas Illumination Map 2013
  %p.subtitle クリスマスを探そう
#map
#about
  .overlay-content
    %h1 Christmas Illumination Map 2013
    %p.subtitle クリスマスを探そう
    %p さぁ、今年もクリスマスの季節がやってきました。あなたの街の素適なクリスマスツリーやクリスマスイルミネーションをみんなでシェアしましょう！
    %h2 投稿しよう
    %p
      簡単操作でスマートフォンやパソコンやから誰でも投稿できます。
      %ul
        %li
          %a{href: "https://itunes.apple.com/ja/app/zhirasete.jp/id744954893?l=ja&ls=1&mt=8", target: "_blank"}> iPhoneの方はこちら
        %li
          %a{href: "http://beta.shirasete.jp/projects/christmas-illuminations-map-2013", target: "_blank"}> パソコンの方はこちら
    %h2 このサイトのしくみ
    %p
      %a{href: "http://beta.shirasete.jp/", target: "_blank"}> 知らせて.jp
      のAPIからレポートの位置と写真を取得して、地図上に表示しています。
      知らせて.jpのAPIを利用すると、このサイトのような、ユーザがスマートフォンなどから位置情報つきで写真を投稿できるサイトを簡単につくることができます。
    %p#about-footer
      %a#close-about{href: "#"}> 閉じる
