#title
  %h1 Christmas Illumination Map 2013
  %p.subtitle クリスマスを探そう
  %ul.social-button
    %li
      %p
        %a#show-about{href: "/#about"}> このサイトについて
    %li
      .fb-like{"data-href" => "http://christmas2013.shirasete.jp/", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "130"}
    %li
      %a.twitter-share-button{"data-count" => "horizontal", "data-lang" => "jp", "data-text" => "Christmas Illumination Map 2013 - クリスマスを探そう", "data-url" => "http://christmas2013.shirasete.jp/", href: "https://twitter.com/share"} Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    -#%li
      %script{src: "https://apis.google.com/js/plusone.js", type: "text/javascript"}
      .g-plusone{"data-href" => "http://christmas2013.shirasete.jp/", "data-size" => "medium"}
    -#%li
      %a.hatena-bookmark-button{"data-hatena-bookmark-layout" => "standard", "data-hatena-bookmark-title" => "Christmas Illumination Map 2013 - クリスマスを探そう", href: "http://b.hatena.ne.jp/entry/http://christmas2013.shirasete.jp/", title: "このエントリーをはてなブックマークに追加"}
        %img{alt: "このエントリーをはてなブックマークに追加", height: "20", src: "http://b.st-hatena.com/images/entry-button/button-only.gif", style: "border: none;", width: "20"}/
      %script{async: "async", charset: "utf-8", src: "http://cdn-ak.b.st-hatena.com/js/bookmark_button.js", type: "text/javascript"}
#map
#about
  .overlay-ui-wrap
    .overlay-ui
      %a{href: "#"}>
        %img#close-about{src: "/img/close-overlay.png"}
  .overlay-content-wrap
    .overlay-content
      %h1 Christmas Illumination Map 2013
      %p.subtitle クリスマスを探そう
      %p さぁ、今年もクリスマスの季節がやってきました。あなたの街の素適なクリスマスツリーやクリスマスイルミネーションをみんなでシェアしましょう！
      %h2 投稿しよう
      %p 簡単操作でスマートフォンやパソコンやから誰でも投稿できます。
      %ul
        %li
          %a{href: "/usage#iphone"}> iPhoneからの投稿方法
        %li
          %a{href: "/usage#pc"}> パソコンからの投稿方法
      %h2 このサイトのしくみ
      %p
        %a{href: "http://beta.shirasete.jp/", target: "_blank"}> 知らせて.jp
        のAPIからレポートの位置と写真を取得して、地図上に表示しています。
        知らせて.jpのAPIを利用すると、このサイトのような、ユーザがスマートフォンなどから位置情報つきで写真を投稿できるサイトを簡単につくることができます。
      %p.footer
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=473353019441913";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
