#title
  #menu
    %li
      %input{type: "checkbox", id:"check_109",name: "109", class:"team_id", checked: 1}
        %label{for:"check_109"} <img src="/img/marker-icon-1-2x.png">Team A
    %li
      %input{type: "checkbox", id:"check_110",name: "110", class:"team_id", checked: 1}
        %label{for:"check_110"} <img src="/img/marker-icon-2-2x.png">Team B
    %li
      %input{type: "checkbox", id:"check_111", name: "111", class:"team_id"}
        %label{for:"check_111"} <img src="/img/marker-icon-3-2x.png">Team C
    %li
      %input{type: "checkbox", id:"check_112", name: "112", class:"team_id"}
        %label{for:"check_112"} <img src="/img/marker-icon-4-2x.png">Team D
    %li
      %input{type: "checkbox", id:"check_113", name: "113", class:"team_id"}
        %label{for:"check_113"} <img src="/img/marker-icon-5-2x.png">Team E
    %li
      %input{type: "checkbox", id:"check_114", name: "114", class:"team_id"}
        %label{for:"check_114"} <img src="/img/marker-icon-0-2x.png">Team F
  #logo
    %img{src: "/img/logo.png"}
  #timer
    08:30:30

#map
#attribution
  %p Check Mark designed by <a href="http://www.thenounproject.com/Yaosamo">Yaroslav Samoilov</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
