%html
  %head
    %link{href: "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css", rel: "stylesheet"}/
    -#%link{href: "http://fonts.googleapis.com/css?family=Bad+Script", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Tangerine:700", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/main.css", rel: "stylesheet"}/
    -#%script{src: "http://code.jquery.com/jquery-2.0.3.min.js"}
    -#%script{src: "http://code.jquery.com/jquery-1.10.2.min.js"}
    %script{src: "http://code.jquery.com/jquery-2.0.3.js"}
    %script{src: "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"}
    %script{src: "/script/main.js"}
  %body
    %h1#title Christmas Illumination Map 2013
    = yield
