!!! 5
%html
  %head
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %link{href: "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css", rel: "stylesheet"}/
    -#%link{href: "http://fonts.googleapis.com/css?family=Bad+Script", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Tangerine:700", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/lightbox.css", rel: "stylesheet"}/
    %link{href: "/css/main.css", rel: "stylesheet"}/
    -#%script{src: "http://code.jquery.com/jquery-2.0.3.min.js"}
    -#%script{src: "http://code.jquery.com/jquery-1.10.2.min.js"}
    %script{src: "http://code.jquery.com/jquery-2.0.3.js"}
    %script{src: "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"}
    %script{src: "/script/lightbox-2.6.min.js"}
    %script{src: "/script/main.js"}
    %title Christmas Illumination Map 2013 - クリスマスを探そう
  %body
    :plain
      <!--
      ✝✝✝✝ リア充避けマップ ✝✝✝✝

      Webサイトのソースコードを必ずチェックする、恋人のいないみなさん。
      
      クリスマス当日に、いちゃつくカップルを、見たくないですよね。
      
      クリスマスにリア充の集まりそうな場所、そう、キラキラしてる場所です。
      
      このマップが開発された真の目的は、そう、まさにそれ。
      
      いまのうちにリア充の集まりそうな場所を共有して、クリスマス当日に、
      
      見たくないものを見ないで済ませましょう！！！！！！！１１１１１
      -->
    = yield
