body {
  padding: 0;
  margin: 0;
}
html, body, #map {
  height: 100%;
}

/* Logo */
#title {
  position: absolute;
  z-index: 9999;
  top: 0.3em;
  right: 0.3em;
  margin: 0;
  background-color: rgba(255,255,255,0.7);
  padding: 0.2em 0.4em 0.15em 0.4em;
  border-radius: 0.2em;
}
#title h1 {
  font-size: 3em;
  /* font-family: 'Pinyon Script', cursive; */
  /* font-family: 'Bad Script', cursive; */
  font-family: 'Tangerine', cursive;
  margin-bottom: 0;
}
#title p.subtitle {
  margin-top: 0;
  text-align: center;
}

img.photo_thumb {
  max-width: 8em;
  max-height: 8em;
}
ul.photo_thumb {
  padding-left: 0;
}
li.photo_thumb {
  display: inline;
  margin: 0.1em;
}
#about {
  position: absolute;
  z-index: 9999;
  background-color: rgba(0,0,0,0.9);
  top: 0;
  height: 100%;
  width: 100%;
}
#about .overlay-content {
  background-color: rgba(255,255,255,1.0);
  width: 60%;
  margin: 2em auto;
  padding: 1em 2em;
  border-radius: 1em;
}
.overlay-content h1 {
  font-family: 'Tangerine', cursive;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0;
}
.overlay-content h2 {
  margin-top: 1em;
  margin-bottom: 0.3em;
  padding: 0;
}
.overlay-content p {
  margin:0;
}
.overlay-content p.subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5em;
}
#about-footer {
  margin-top: 1em;
  text-align: right;
}
